<p id="notice"><%= notice %></p>

<h1>Listing Protected Applications</h1>

<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Domains</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
	<% @applications.each do |application| %>
		<tr>
			<td><%= application.name %></td>
			<td><%= application.domains %></td>
			<td><%= link_to 'Show', [:protected, application] %></td>
			<td><%= link_to 'Edit', edit_protected_application_path(application) %></td>
			<td><%= link_to 'Destroy', [:protected, application], method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Application', new_protected_application_path %>
