<%= form_for([:protected, @server]) do |f| %>
	<% if @server.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

			<ul>
				<% @server.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :hostname %><br>
		<%= f.text_field :hostname %>
	</div>
	<div class="field">
		<%= f.label :ip %><br>
		<%= f.text_field :ip %>
	</div>
	<div class="field">
		<%= f.label :memory %><br>
		<%= f.number_field :memory %>
	</div>
	<div class="field">
		<%= f.label :cpu %><br>
		<%= f.number_field :cpu %>
	</div>
	<div class="field">
		<%= f.label :active %><br>
		<%= f.check_box :active %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
