<p id="notice"><%= notice %></p>

<h1>Listing Protected Servers</h1>

<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Hostname</th>
		<th>Ip</th>
		<th>Memory</th>
		<th>Cpu</th>
		<th>Active</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
	<% @servers.each do |server| %>
		<tr>
			<td><%= server.name %></td>
			<td><%= server.hostname %></td>
			<td><%= server.ip %></td>
			<td><%= server.memory %></td>
			<td><%= server.cpu %></td>
			<td><%= server.active %></td>
			<td><%= link_to 'Show', [:protected, server] %></td>
			<td><%= link_to 'Edit', edit_protected_server_path(server) %></td>
			<td><%= link_to 'Destroy', [:protected, server], method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Server', new_protected_server_path %>
