<%= form_for([:protected, @image]) do |f| %>
	<% if @image.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being
				saved:</h2>

			<ul>
				<% @image.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :application_id %><br>
		<%= f.select :application_id, Application.order([:name, :asc]).map {|a| [a.name, a.id]} %>
	</div>
	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :image %><br>
		<%= f.text_field :image %>
	</div>
	<div class="field">
		<%= f.label :volumes %><br>
		<input type="text" value="" name="image[volumes][]" id="image_volumes">
	</div>
	<div class="field">
		<%= f.label :ports %><br>
		<input type="text" value="" name="image[ports][]" id="image_ports">
	</div>
	<div class="field">
		<%= f.label :image_type %><br>
		<%= f.text_field :image_type %>
	</div>
	<div class="field">
		<%= f.label :links %><br>
		<input type="text" value="" name="image[links][]" id="image_links">
	</div>
	<div class="field">
		<%= f.label :environment %><br>
		<input type="text" value="" name="image[environment][]" id="image_environment">
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
